*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #2F4649;
  width: 100vw;
  overflow-x: hidden;
}

.container{
  width: 90vw;
  margin: auto;
}

header{
  background: #65857F;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.bottone{
  text-align: center;
  margin-top: 15px;
}

main{
  margin: 15px 0;
  background: #48675D;
  text-align: center;
  padding: 15px 0;
}

.my-btn, .my-btn-V2{
  background: white;
  padding: 10px 0;
  width: 80px;
  border: 1px solid #79C8DE;
  border-radius: 5px;
  margin: 0 10px;
}
.my-btn-V2{
  opacity: 0.5;
  color: grey;
}
.my-btn:hover{
  cursor: pointer;
  background-color: #79C8DE;
  color: white;
}

#elenco{
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#elenco li{
  list-style: none;
  height: 40px;
  width: 70px;
  background: grey;
  margin: 10px;
  line-height: 40px;
  border-radius: 5px;
}
#elenco li.orange{
  background: orange;
}
#elenco li.blue{
  background: blue;
}
#elenco li.red{
  background: red;
}

.hide{
  opacity: 0;
}
.hidden{
  opacity: 0;
  animation-name: animazione-reverse;
  animation-duration: 1s;
}

@keyframes animazione-reverse {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

.show{
  opacity: 1;
  animation-name: animazione;
  animation-duration: 1s;
}

@keyframes animazione {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
