*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #2F4649;
}

.container{
  width: 75vw;
  margin: auto;
}

header{
  background: #65857F;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}

.bottone{
  text-align: center;
  margin-top: 20px;
}

main{
  margin: 20px 0;
  background: #48675D;
  text-align: center;
  /* height: 50vh; */
  padding: 20px 0;
}

#button{
  background: white;
  padding: 10px;
  border: 1px solid #79C8DE;
  border-radius: 5px;
}
#button:hover{
  cursor: pointer;
  background-color: #79C8DE;
  color: white;
}

#elenco{
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#elenco li{
  list-style: none;
  height: 40px;
  width: 70px;
  background: grey;
  margin: 10px;
  line-height: 40px;
  border-radius: 5px;
}
#elenco li.orange{
  background: orange;
}
#elenco li.blue{
  background: blue;
}
#elenco li.red{
  background: red;
}

.hidden{
  opacity: 0;
}
.show{
  opacity: 1;
}
